@import "~/app/style/color.scss";

.navbar {
  background-color: $navbar-color;
  border-bottom: 1px solid $navbar-border-color;
  text-align: center;

  .nav-container {
    padding-left: 5px;
    margin: 0 auto;
  
    .nav-link.active {
      color: $navbar-active-text-color !important;
    }
  }
}
