@import "~/app/style/color.scss";

.navbar {
  background-color: $navbar-color;
  border-bottom: 0.1rem solid $navbar-border-color;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(32, 32, 32, 0.1);
  text-align: center;

  .nav-container {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    margin: 0 auto;
  
    .nav-link.active {
      color: $navbar-active-text-color !important;
    }
  }
}
