@import "~/app/style/breakpoints.scss";

.app-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  min-width: 320px;
}

.content-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: $breakpoint-desktop) {
  .content-container {
    padding: 60px 0;
  }
}
