@import "./color.scss";
@import "./breakpoints.scss";

body {
  background-color: $body-color;
}

* {
  box-sizing: border-box;
  font-family: helvetica, verdana, arial;
}

$scrollbar-width: 6px;

html::-webkit-scrollbar {
  width: $scrollbar-width; 
}

html::-webkit-scrollbar-track {
  background-color: $scroll-track-color;
}

html::-webkit-scrollbar-thumb {
  background-color: $scroll-thumb-color;
}

html {
  scrollbar-width: thin;
  scrollbar-color: $scroll-thumb-color $scroll-track-color;
}

.nav-container, .content-container {
  width: 100%;
}

@media (min-width: $breakpoint-desktop) {
  .nav-container, .content-container {
    width: 80%;
  }
}

@media (min-width: $breakpoint-desktop-large) {
  .nav-container, .content-container {
    width: 60%;
  }
}
